
  
/* @font-face {
  font-family: "ReplicaLight";
  src: url("/stylesheets/ReplicaProLight.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}  

@font-face {
  font-family: "ReplicaBold";
  src: url("/stylesheets/ReplicaProBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
} */


  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  body {
    /* background-color: #0739ed;  */
    /* background-color: #1b3aed; */
    background-color: rgb(0, 112, 192);
    color: white; 
    font-family: "Rubik",Helvetica,Arial;
  }
  
  a {
  	font-weight: bold; 
  	color: inherit; 
  }
  
  a:hover {
  	color: inherit;
  }
  
  h1 {
    /* font-family: "Rubik",Helvetica,Arial; */
    font-weight: bold; 
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
    color: black; 
  }

  .card-header {
    background: url(/diagonal.png);
  }

  .card-header h4 {
      background-color: white
  }